<li>
  <a href="#" data-image="{{ image.src | product_img_url: '2048x2048' }}" data-zoom-image="{{ image.src | product_img_url: '2048x2048' }}">
    <img src="{{ image.src | product_img_url: 'medium' }}" alt="{{ image.alt }}">
    <!--<img class="lazyload" data-src="{{ image.src | product_img_url: 'medium' }}" alt="{{ image.alt }}">-->
    <!--<img class="lazyload test76" data-src="{{ image.src | img_url: 'medium' }}" alt="{{ image.alt }}">-->
  </a>
</li>