<div class="social-share-buttons">
  <button class="sharer facebook" data-sharer="facebook" data-url="{{shop.url}}{{product.url}}">
    <i class="fa fa-facebook-f"></i>Share
  </button>
  <button class="sharer twitter" data-sharer="twitter" data-url="{{shop.url}}{{product.url}}">
    <i class="fa fa-twitter"></i>Tweet
  </button>
  <button class="sharer pinterest" data-sharer="pinterest" data-image="{{ product | img_url }}" data-url="{{shop.url}}{{product.url}}">
    <i class="fa fa-pinterest"></i>Pin
  </button>
  <button class="sharer tumblr" data-sharer="tumblr" data-url="{{shop.url}}{{product.url}}">
    <i class="fa fa-tumblr"></i>Post
  </button>
  <button class="sharer email" data-sharer="email" data-url="{{shop.url}}{{product.url}}">
    <i class="fa fa-envelope"></i>Email
  </button>
</div>