<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->


{% unless customer %}
 {% assign send_to_login = true %}
{% endunless %}

{% unless customer.orders_count %}
{% assign send_to_login_again = true %}

{% endunless %}
{% if send_to_login and {request.path == "/pages/download" or request.path == "/pages/bonus"} %}
<!-- Need to login -->
<meta content="0; url=/account/login?checkout_url={{ request.path }}" http-equiv="refresh" />


{% else %}
<head>

  <!-- Organization Schema and Website Schema-->

<script defer type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Nordic Lifting",
    "legalName": "Nordic Lifting",
    "url": "https://nordiclifting.com/",
    "logo": "https://cdn.shopify.com/s/files/1/1822/7073/t/2/assets/logo.png?v=11615393944413912184",
    "foundingDate": "2013",
    "founders": [
      {
        "@type": "Person",
        "name": "Henrik Andersson"
      },
      {
        "@type": "Person",
        "name": "Chiradee Andersson"
      }
    ],  
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Unit 408B 4/F Lippon Sun Plaza 28 Canton Road",
      "addressLocality": "Tsim Sha Tsui",
      "addressRegion": "Kowloon",
      "postalCode": "33444",
      "addressCountry": "Hong Kong"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "contactType": "customer support",
      "telephone": "[+1(702)500-1498]",
      "email": "support@nordiclifting.com"
    },
    "sameAs": [
      "https://www.facebook.com/NordicLifting",
      "https://twitter.com/nordiclifting",
      "https://www.instagram.com/accounts/login/?next=/nordiclifting/",
      "https://www.youtube.com/user/NordicLifting"
    ]
  }
</script>
  

  
<script defer type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "BreadcrumbList", 
  "itemListElement": [{
    "@type": "ListItem", 
    "position": 1, 
    "name": "Weightlifting Accessories",
    "item": "https://nordiclifting.com/collections/weightlifting-accessories"  
  },{
    "@type": "ListItem", 
    "position": 2, 
    "name": "Compression Gear",
    "item": "https://nordiclifting.com/collections/weightlifting-accessories"  
  },{
    "@type": "ListItem", 
    "position": 3, 
    "name": "Straps & Wraps",
    "item": "https://nordiclifting.com/collections/straps-wraps"  
  },{
    "@type": "ListItem", 
    "position": 4, 
    "name": "Shoes",
    "item": "https://nordiclifting.com/collections/shoes"  
  },{
    "@type": "ListItem", 
    "position": 5, 
    "name": "Weights & Barbells",
    "item": "https://nordiclifting.com/collections/weights-and-barbells"  
  },{
    "@type": "ListItem", 
    "position": 6, 
    "name": "Cardio & Strength Training Equipment",
    "item": "https://nordiclifting.com/collections/cardio-strength-training-equipment"  
  },{
    "@type": "ListItem", 
    "position": 7, 
    "name": "Recovery Tools",
    "item": "https://nordiclifting.com/collections/recovery-tools"  
  }]
}
</script>
  
<script defer type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "How much time do I have to make a return?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Your Nordic Lifting products are eligible for a return within 30 days of purchase."
    }
  },{
    "@type": "Question",
    "name": "Is the original packaging required?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, all products must be returned together with their original packaging. Failing to do so will result in a $10 fee."
    }
  },{
    "@type": "Question",
    "name": "Can I return a product after I have finished using it?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We cannot accept returns for used items. You may only return an item within 30 days of purchasing it."
    }
  },{
    "@type": "Question",
    "name": "Will return shipping carry an additional fee?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Customers within the US will only be charged for the return shipping fees. International customers are responsible for shipping fees both ways."
    }
  },{
    "@type": "Question",
    "name": "What if my received item is defective?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "On the off chance where your Nordic Lifting item arrives damaged or defective, please do not hesitate to contact us at support@nordiclifting.com.
      We will resolve any issues that occur ASAP."
    }
  },{
    "@type": "Question",
    "name": "How long will I have to wait to receive my refund?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "The return process usually takes anywhere from 1 to 3 days to complete."
    }
  }]
}
</script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105386975-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-105386975-1');
</script>
<meta name="google-site-verification" content="YVkwbXYsC1K5SilaQTqlg9k0ofPeDyUWEGu5IRBjO4w" />
<!-- <meta name="google-site-verification" content="ljCY-8NPr3w2oRlVdrq0-7IC-X60s0IRe_gVd5LOIU8" /> -->


  {% comment %}
  

  
 {% if product.url %}
   <meta property="og:title" content="{{product.title}}" />
    <meta property="og:description" content="{{product.description}}" />
    <meta property="og:image" content="https:{{product.image | image_url: width: 600}}" />
    <meta property="og:url" content="{{product.url}}" />
  {% endif%}

  
    {% if product.url %}
          <meta property="og:image" content={{product.featured.image | image_url: width: 600}} />
    {% endif %}
    {% if collection.url %}
    <meta property="og:image" content={{collection.image | image_url: width: 600}} />
    {% endif %}


    {% endcomment %}
<!--     	
    	{% if page.handle == "our-company" %}
      			<meta property="og:image" content={{"https://cdn.shopify.com/s/files/1/1822/7073/files/Our_Company_32d6c0b5-2049-409d-bd22-31561f4a3cef.jpeg?v=1503682400" | image.url: width: 1200 height: 600}} />
            {% elsif page.handle == "wholesale" %}
  
  <meta property="og:image" content={{"https://cdn.shopify.com/s/files/1/1822/7073/files/Wholesale.jpeg?v=1503368444" | image.url: width: 1200 height: 600}} />
   			{% endif %}    
   -->
 
	

  <meta name="p:domain_verify" content="f560f80fedb3c66a9fc9294089d97bf1"/>    
 {% comment %} {{ 'daily-deals.scss' | asset_url | stylesheet_tag }} {% endcomment %}
</head>
  <!-- v2.0.2 -->
  <meta charset="utf-8">
  <!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ "general.meta.keywords" | t }}" />
  <meta name="author" content="{{ "general.meta.author" | t }}">
  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}
    
  <title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}" />{% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
    
  {% if settings.use_favicon %}<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/x-icon" />{% endif %}
  
  {% if page.handle == 'faq' %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {% endif %}
  
  {% include 'header-css' %}
  
  {{ content_for_header }}
  
{%- include 'bold-product' with product, hide_action: 'header' -%}
    
  {% capture l9 %}{% if template == "index" and settings.home_page_layout == 'home-page_layout-9' %} id="layout-9"{% elsif template == "page.home-page_layout-9" %} id="layout-9"{% endif %}{% endcapture %}
  <script>
    window.cx_email = "";
  </script>
  <style>
    /*Footer*/
    {% if settings.color_body != settings.color_footer and settings.color_footer != 'rgba(0,0,0,0)' %}
    	footer{padding-top:60px}@media (max-width:767px){footer{padding-top:0}}body:not(.index) #pageContent>.container{border:none;padding-bottom:0}footer .subscribe-box input{border:none!important}
    {% else %}
    {% if settings.color_carticon == settings.color_stucknavigation %}
    	@media (min-width:1024px){.fixedbar .cart .dropdown>a .icon{color:{};}}.fixedbar .cart .dropdown>a:hover .icon{color:{};}
    {% endif %}
    {% unless settings.show_top_line == false and settings.footer_design == 'footer_design4' %}
    	body.index .layout-4 .container:first-child,{% endunless %}body.index .layout-0 .container:first-child{ border-top: 1px solid {{ settings.color_footerlines }};padding-top: 60px;}footer .subscribe-box input{border: 1px solid {{ settings.color_footerlines }};}
    {% endif %}
    #fitImageInTheme .product__inside__image{overflow:hidden}#fitImageInTheme .product__inside__image>a:first-child{display:flex;justify-content:center}
    #fitImageInTheme .product__inside__image > a:first-child img{ width: auto;height: {{ settings.product_scale_height }}px;}
    {% unless settings.showfixedbar %}.fixedbar{display:none !important;}{% endunless %}
    {% unless settings.show_preloader %}
    #pageContent,.breadcrumbs{visibility:hidden;-webkit-transition:opacity .4s ease-out;-moz-transition:opacity .4s ease-out;-o-transition:opacity .4s ease-out;transition:opacity .4s ease-out;opacity:0}#pageContent.show,.breadcrumbs.show{opacity:1;visibility:visible}
    {% endunless %}
    {% if settings.transparent_header and template == "index" %}
    body{background: {{ settings.headertransparentbgcolor }};}
    {% endif %}
    {% if settings.hide_title_underline %}
  	.another-title .title-under{font-size:24px;letter-spacing:0;margin-bottom:1.667em!important}.another-title .title-under:after{display:none!important}.another-title .title-with-button{overflow:inherit}.carousel-products__button{top:-14px}
    {% endif %}
  </style>
{% comment %}{% include 'sca.freegifts' %}{% endcomment %}

{% if page.handle == 'sponsored-athlete-program' %}
  {% include 'affiliatly-sap-head' %}
{% elsif page.handle == 'sponsored-athlete-program-prequal' %}
  {% include 'affiliatly-sap-prequal' %}
{% elsif page.handle == 'warranty-vip' %}
  {% include 'warrantyvip-head' %}
{% endif %}


</head>

<body class="{% if template == "index" or template contains "page.home-page_layout" or settings.hide_title_underline %} another-title index{% if template == "index" and settings.home_page_layout == 'home-page_layout-2' %} indexlayout2{% endif %}{% endif %}{% if page.handle == "sponsored-athlete-program" or page.handle == "sponsored-athlete-program-logo" or page.handle == "sponsored-athlete-program-prequal" or page.handle == "warranty-vip" %} page-lp{% endif %}"{{ l9 }}{% if settings.use_scale_product_image %} id="fitImageInTheme"{% endif %}>
  {% if settings.show_helper and template == "index" %}{% section "show-helper" %}{% endif %}
  {% if page.handle != "sponsored-athlete-program" and page.handle != "sponsored-athlete-program-logo" and page.handle != "sponsored-athlete-program-prequal" and page.handle != "warranty-vip" and page.handle != "nordic-lifting-news" %}
      {% if settings.use_bannerstrip == true %} {% include 'top-banner-strip' %} {% endif %}
  {% elsif template.name != "page" %}
      {% if settings.use_bannerstrip == true %} {% include 'top-banner-strip' %} {% endif %}
  {% endif %}
  {% capture headerlogo %}{% if settings.transparent_header and template == "index" %}{{ "logotransparent.png" | asset_url }}{% else %}{{ "logo.png" | asset_url }}{% endif %}{% endcapture %}
  
  {% include 'preloader-main' %}
  
  <div id="fb-root"></div>
  
  <!-- JScode -->
  {% if settings.enable_custom_fonts %}
  	{{ 'fonts.js' | asset_url | script_tag }}
  {% else %}
  	{{ 'header-fonts.css' | asset_url | stylesheet_tag }}
  {% endif %}
  
  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'jquery.cookie.min.js' | asset_url | script_tag }}
  
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  <script src="{{ 'cart.api.js' | asset_url }}" async></script>
  {% comment %}{{ 'readmore.min.js' | asset_url | script_tag }}{% endcomment %}
  {% if template.name == 'page' and page.id == 252593300 %}
  	<script src="{{ 'light-youtube.js' | asset_url }}" defer></script>
  {% endif %}
  <!-- End: JS -->
  
<script defer>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
  
  <!-- Back to top -->
  <div class="back-to-top"><span class="icon-keyboard_arrow_up"></span></div>
  <!-- /Back to top -->
  {% include "main-menu-mobile" %}

  {% if template == "index" and settings.home_page_layout == 'home-page_layout-2' %}
  	{% include "home-page_layout-2" %}
  {% else %}
  	{% if page.handle != "sponsored-athlete-program" and page.handle != "sponsored-athlete-program-logo" and page.handle != "sponsored-athlete-program-prequal" and page.handle != "warranty-vip" and page.handle != "nordic-lifting-news" %}
      <div class="header-wrapper{% if settings.transparent_header and template == "index" %} transparent transform-mobile{% endif %}">
        {% include settings.header_design %}
      </div>
  	  {% if template != "index" %}{% unless template contains "page.home-page_layout" %}{% include "breadcrumb" %}{% endunless %}{% endif %}
    {% elsif template.name != "page" %}
      <div class="header-wrapper{% if settings.transparent_header and template == "index" %} transparent transform-mobile{% endif %}">
        {% include settings.header_design %}
      </div>
	  {% if template != "index" %}{% unless template contains "page.home-page_layout" %}{% include "breadcrumb" %}{% endunless %}{% endif %}
    {% endif %}
  
    <div id="pageContent" class="starthide{% if template == "index" and settings.transparent_footer %} nopadding{% endif %}">
      {% comment %}{% if template == "index" %}{% include "bf-banner" %}{% endif %}{% endcomment %}
      {{ content_for_layout }}
    </div>

  	{% if template == "index" and settings.transparent_footer %}
  		{% include "footer-fixed" %}
  	{% else %}
  		{% if page.handle != "sponsored-athlete-program" and page.handle != "sponsored-athlete-program-logo" and page.handle != "sponsored-athlete-program-prequal" and page.handle != "warranty-vip" and page.handle != "nordic-lifting-news" %}
          {% include settings.footer_design %}
        {% elsif template.name != "page" %}
          {% include settings.footer_design %}
        {% endif %}
  	{% endif %}

    {% include 'popup_cart' %}
    {% include 'popup_wishlist' %}
    {% include 'popup-newsletter' %}
    {% if template != "page.wishlist" %}{% include 'popup-quickview' %}{% endif %}

    {% include 'preloader-ajax' %}
  {% endif %}

  <div class="cart_messages" style="display:none">
    <div class="edit">{{ 'cart.header.button_edit' | t }}</div>
    <div class="delete">{{ 'cart.header.button_delete' | t }}</div>
    <div class="price">{{ 'cart.header.price' | t }}</div>
    <div class="qty">{{ 'cart.header.quantity' | t }}</div>
  </div>
  <div class="button_massage" style="display:none">{{ 'products.product.add_to_cart_html' | t }}</div>

  {% include 'header-js' %}
  {% include 'currencies' %}
  {% include 'search-autocomplete' %}
  
  {% if settings.show_helper and template == "index" %}{{ 'admin-panel.js' | asset_url | script_tag }}{% endif %}
  
<script type="text/javascript" defer>
var _learnq=_learnq||[];_learnq.push(["account","JyeuQE"]),function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"==document.location.protocol?"https://":"http://")+"a.klaviyo.com/media/js/analytics/analytics.js";var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}();
</script>
  
{% if settings.show_pbanners == false %}
  {% include 'promo-banner-js' %}
{% endif %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyloadxt/1.0.0/jquery.lazyloadxt.min.js"></script>
<script>
  {% if page.handle == 'sponsored-athlete-program' or page.handle == "sponsored-athlete-program-prequal" or page.handle == "warranty-vip" %}
  	$('i').removeClass('lp-icon-react__icon');
  {% endif %}
  
  //lazyload();
</script>  
<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END -->
{% comment %}{% include 'swymSnippet' %}{% endcomment %}

{% include 'daily-deals' %}

{% if template contains 'product' %}
  <!--<script>    
    function init(){for(var t=document.getElementsByTagName("iframe"),e=0;e<t.length;e++)t[e].getAttribute("data-src")&&t[e].setAttribute("src",t[e].getAttribute("data-src"))}window.onload=init;
  </script>-->
  <script src="{{ 'light-youtube.js' | asset_url }}" defer></script>
{% endif %}
{% if template == 'article' or template == 'product' %}
  <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
{% endif %}
{% if template == 'index' %}
  {% include 'instagram-feed-js' %}
{% endif %}
 {% include 'smile-initializer' %}
  


</body>
{% endif %}
</html>